apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 80        # service port
      targetPort: 80  # containerPort above
      protocol: TCP
